package index_page_ui

import (
	"github.com/yazmeyaa/hosthalla/internal/authentication"
	"github.com/yazmeyaa/hosthalla/ui/shared/ui/layout"
)



type IndexPageProps struct {
	Profile   authentication.Profile
	WebOrigin string
}

templ IndexPage(props IndexPageProps) {
	@layout.AuthenticatedLayout(layout.AuthenticatedLayoutProps{
		GenericLayoutProps: layout.GenericLayoutProps{
			Title:         "Hosthalla – Self-Hosted Server Infrastructure Dashboard",
			Description:   "Track servers, store encrypted access methods, check availability, and monitor live infrastructure metrics with the compact self-hosted Hosthalla dashboard.",
			WebOrigin:     props.WebOrigin,
			CanonicalPath: "/",
		},
		Profile: props.Profile,
	}) {
		@IndexPageContent(props)
	}
}

templ IndexPageContent(props IndexPageProps) {
	<h1>Home Page</h1>
}
