package host_ui

import (
	"github.com/yazmeyaa/hosthalla/internal/host"
	"github.com/yazmeyaa/hosthalla/ui/shared/ui/badge"
)

func managementMethodLabel(methodType host.HostManagementMethodType) string {
	switch methodType {
	case host.HostManagementMethodTypeSSHPassword:
		return "ssh (password)"
	case host.HostManagementMethodTypeSSHKey:
		return "ssh (private key)"
	default:
		return string(methodType)
	}
}

func managementMethodNameLabel(method host.HostManagementMethod) string {
	if method.Name != "" {
		return method.Name
	}
	return managementMethodLabel(method.Type)
}

templ MethodTypeTag(methodType host.HostManagementMethodType) {
	@badge.Badge(badge.BadgeProps{Variant: "info"}) {
		{ managementMethodLabel(methodType) }
	}
}

templ MethodNameTag(method host.HostManagementMethod) {
	@badge.Badge(badge.BadgeProps{Variant: "info"}) {
		{ managementMethodNameLabel(method) }
	}
}
