package hosts_page_ui

import (
	"github.com/yazmeyaa/hosthalla/internal/host"
	"github.com/yazmeyaa/hosthalla/ui/shared/ui/button"
	"github.com/yazmeyaa/hosthalla/ui/shared/ui/modal"
)

templ CreateHostDialog(availableTags []host.Tag, open bool) {
	@modal.Modal(modal.ModalProps{ID: "create-host-dialog", AriaLabel: "Add Host", Open: open, CloseHref: "/hosts"}) {
		@modal.Content() {
			@modal.Title("Add Host")
			<form class={ host_form() } method="post" action="/hosts/create">
				@HostFormFields("create-host", "", "", "", nil, availableTags)
				@modal.Actions() {
					@button.Link(button.LinkProps{Href: "/hosts", Variant: "secondary"}) {
						Cancel
					}
					@button.Button(button.ButtonProps{Type: "submit"}) {
						Add Host
					}
				}
			</form>
		}
	}
}
