package index_page

import (
	"github.com/yazmeyaa/hosthalla/internal/authentication"
	"github.com/yazmeyaa/hosthalla/ui/widgets/layouts"
)



type IndexPageProps struct {
	Profile authentication.Profile
}

templ IndexPage(props IndexPageProps) {
	@layouts.AuthenticatedLayout(layouts.AuthenticatedLayoutProps{GenericLayoutProps: layouts.GenericLayoutProps{Title: "Home"}, Profile: props.Profile}) {
		<h1>Home Page</h1>
	}
}
