package index_page

import (
	"github.com/yazmeyaa/hosthalla/internal/authentication"
	"github.com/yazmeyaa/hosthalla/ui/app/layout"
)



type IndexPageProps struct {
	Profile authentication.Profile
}

templ IndexPage(props IndexPageProps) {
	@layout.AuthenticatedLayout(layout.AuthenticatedLayoutProps{GenericLayoutProps: layout.GenericLayoutProps{Title: "Home"}, Profile: props.Profile}) {
		<h1>Home Page</h1>
	}
}
