package input

type InputProps struct {
	Id          string
	Type        string
	Name        string
	Value       string
	Placeholder string
	Required    bool
}

templ Input(props InputProps) {
	{{
		inputType := props.Type
		if inputType == "" {
			inputType = "text"
		}
	}}
	<input
		class={ input_styles(), "ui-input" }
		type={ inputType }
		id={ props.Id }
		name={ props.Name }
		value={ props.Value }
		placeholder={ props.Placeholder }
		required={ props.Required }
	/>
}
