package button

type ButtonProps struct {
	Type    string
	Variant string
	OnClick templ.ComponentScript
}

templ Button(props ButtonProps) {
	{{
		buttonType := props.Type
		if buttonType == "" {
			buttonType = "button"
		}

		buttonVariant := "primary"
		variantClass := button_variant_primary()
		switch props.Variant {
		case "secondary":
			buttonVariant = "secondary"
			variantClass = button_variant_secondary()
		case "danger":
			buttonVariant = "danger"
			variantClass = button_variant_danger()
		}
	}}
	<button class={ button_base(), variantClass, "ui-button" } type={ buttonType } onclick={ props.OnClick } data-ui-button-variant={ buttonVariant }>
		{ children... }
	</button>
}

type LinkProps struct {
	Href    string
	Variant string
}

templ Link(props LinkProps) {
	{{
		buttonVariant := "primary"
		variantClass := button_variant_primary()
		switch props.Variant {
		case "secondary":
			buttonVariant = "secondary"
			variantClass = button_variant_secondary()
		case "danger":
			buttonVariant = "danger"
			variantClass = button_variant_danger()
		}
	}}
	<a class={ button_base(), variantClass, "ui-button" } href={ props.Href } data-ui-button-variant={ buttonVariant }>
		{ children... }
	</a>
}
